.footer {
    padding: 1.5rem;
    text-align: center;
    margin-top: auto;
  }
  
  .footer.light {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .footer.dark {
    background-color: #343a40;
    color: #f8f9fa;
  }
  